openapi: 3.0.0
info:
  contact:
    name: Twitter Developers
    url: https://developer.twitter.com/
  description: API Reference — v2
  license:
    name: Twitter Developer Agreement and Policy
    url: https://developer.twitter.com/en/developer-terms/agreement-and-policy.html
  termsOfService: https://developer.twitter.com/en/developer-terms/agreement-and-policy.html
  title: Early Access
  version: "2.2"
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
- description: Twitter API
  url: https://api.twitter.com
tags:
- description: Miscellaneous endpoints for general API functionality
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api
  name: General
- description: APIs related to Search
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/tweets/search
  name: Search
- description: APIs related to Tweets
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/tweets/lookup
  name: Tweets
- description: APIs related to Users
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/users/lookup
  name: Users
paths:
  /2/users:
    get:
      description: This endpoint returns information about users. Specify users by
        their ID.
      operationId: findUsersById
      parameters:
      - description: Required. A list of User IDs, comma-separated. You can specify
          up to 100 IDs.
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            $ref: '#/components/schemas/UserID'
          maxItems: 100
          minItems: 1
          type: array
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: The list of fields you can expand for a [User](#User) object.
            If the field has an ID, it can be expanded into a full object.
          example: pinned_tweet_id
          items:
            enum:
            - pinned_tweet_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The list of fields you can display for a [Tweet](#Tweet) object.
          example: created_at
          items:
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - conversation_control
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The list of fields you can display for a [User](#User) object.
          example: created_at
          items:
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserLookupResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
        UserToken: []
      summary: Return details for the specified users
      tags:
      - Users
  /2/users/{id}:
    get:
      description: This endpoint returns information about a user. Specify user by
        ID.
      operationId: findUserById
      parameters:
      - description: Required. A User ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: simple
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: The list of fields you can expand for a [User](#User) object.
            If the field has an ID, it can be expanded into a full object.
          example: pinned_tweet_id
          items:
            enum:
            - pinned_tweet_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The list of fields you can display for a [Tweet](#Tweet) object.
          example: created_at
          items:
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - conversation_control
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The list of fields you can display for a [User](#User) object.
          example: created_at
          items:
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleUserLookupResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
        UserToken: []
      summary: Return details for the specified users
      tags:
      - Users
  /2/users/by:
    get:
      description: This endpoint returns information about users. Specify users by
        their username.
      operationId: findUsersByUsername
      parameters:
      - description: Required . A list of usernames, comma-separated. You can specify
          up to 100 usernames.
        explode: false
        in: query
        name: usernames
        required: true
        schema:
          items:
            $ref: '#/components/schemas/UserName'
          maxItems: 100
          minItems: 1
          type: array
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: The list of fields you can expand for a [User](#User) object.
            If the field has an ID, it can be expanded into a full object.
          example: pinned_tweet_id
          items:
            enum:
            - pinned_tweet_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The list of fields you can display for a [Tweet](#Tweet) object.
          example: created_at
          items:
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - conversation_control
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The list of fields you can display for a [User](#User) object.
          example: created_at
          items:
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserLookupResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
        UserToken: []
      summary: Return details for the specified users
      tags:
      - Users
  /2/users/by/username/{username}:
    get:
      description: This endpoint returns information about a user. Specify user by
        username.
      operationId: findUserByUsername
      parameters:
      - description: Required. A username.
        explode: false
        in: path
        name: username
        required: true
        schema:
          $ref: '#/components/schemas/UserName'
        style: simple
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: The list of fields you can expand for a [User](#User) object.
            If the field has an ID, it can be expanded into a full object.
          example: pinned_tweet_id
          items:
            enum:
            - pinned_tweet_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The list of fields you can display for a [Tweet](#Tweet) object.
          example: created_at
          items:
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - conversation_control
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The list of fields you can display for a [User](#User) object.
          example: created_at
          items:
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleUserLookupResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
        UserToken: []
      summary: Return details for the specified users
      tags:
      - Users
  /2/tweets:
    get:
      description: Returns a variety of information about the Tweet specified by the
        requested ID
      operationId: findTweetsById
      parameters:
      - description: A comma separated list of Tweet IDs. Up to 100 are allowed in
          a single request.
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            $ref: '#/components/schemas/TweetID'
          maxItems: 100
          minItems: 1
          type: array
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: The list of fields you can expand for a [Tweet](#Tweet) object.
            If the field has an ID, it can be expanded into a full object.
          example: author_id
          items:
            enum:
            - author_id
            - referenced_tweets.id
            - in_reply_to_user_id
            - geo.place_id
            - attachments.media_keys
            - attachments.poll_ids
            - entities.mentions.username
            - referenced_tweets.id.author_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The list of fields you can display for a [Tweet](#Tweet) object.
          example: created_at
          items:
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - conversation_control
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The list of fields you can display for a [User](#User) object.
          example: created_at
          items:
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Media fields to display.
        explode: false
        in: query
        name: media.fields
        required: false
        schema:
          description: The list of fields you can display for a Media object.
          example:
          - url
          items:
            enum:
            - media_key
            - duration_ms
            - height
            - preview_image_url
            - type
            - url
            - width
            - public_metrics
            - non_public_metrics
            - organic_metrics
            - promoted_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Place fields to display.
        explode: false
        in: query
        name: place.fields
        required: false
        schema:
          description: The list of fields you can display for a Place object.
          example: country_code
          items:
            enum:
            - id
            - name
            - country_code
            - place_type
            - full_name
            - country
            - contained_within
            - geo
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Poll fields to display.
        explode: false
        in: query
        name: poll.fields
        required: false
        schema:
          description: The list of fields you can display for a Poll object.
          example: end_datetime
          items:
            enum:
            - id
            - options
            - voting_status
            - end_datetime
            - duration_minutes
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TweetLookupResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
        UserToken: []
      summary: Returns hydrated Tweet objects
      tags:
      - Tweets
  /2/tweets/{id}:
    get:
      description: Returns a variety of information about the Tweet specified by the
        requested ID
      operationId: findTweetById
      parameters:
      - description: A single Tweet ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/TweetID'
        style: simple
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: The list of fields you can expand for a [Tweet](#Tweet) object.
            If the field has an ID, it can be expanded into a full object.
          example: author_id
          items:
            enum:
            - author_id
            - referenced_tweets.id
            - in_reply_to_user_id
            - geo.place_id
            - attachments.media_keys
            - attachments.poll_ids
            - entities.mentions.username
            - referenced_tweets.id.author_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The list of fields you can display for a [Tweet](#Tweet) object.
          example: created_at
          items:
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - conversation_control
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The list of fields you can display for a [User](#User) object.
          example: created_at
          items:
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Media fields to display.
        explode: false
        in: query
        name: media.fields
        required: false
        schema:
          description: The list of fields you can display for a Media object.
          example:
          - url
          items:
            enum:
            - media_key
            - duration_ms
            - height
            - preview_image_url
            - type
            - url
            - width
            - public_metrics
            - non_public_metrics
            - organic_metrics
            - promoted_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Place fields to display.
        explode: false
        in: query
        name: place.fields
        required: false
        schema:
          description: The list of fields you can display for a Place object.
          example: country_code
          items:
            enum:
            - id
            - name
            - country_code
            - place_type
            - full_name
            - country
            - contained_within
            - geo
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Poll fields to display.
        explode: false
        in: query
        name: poll.fields
        required: false
        schema:
          description: The list of fields you can display for a Poll object.
          example: end_datetime
          items:
            enum:
            - id
            - options
            - voting_status
            - end_datetime
            - duration_minutes
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleTweetLookupResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
        UserToken: []
      summary: Returns hydrated Tweet objects
      tags:
      - Tweets
  /2/tweets/{id}/hidden:
    put:
      description: Tweet ID in the path is that of the reply to hide or unhide.
      operationId: hideReplyById
      parameters:
      - description: The ID of the reply that you want to hide or unhide.
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/TweetID'
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            schema:
              properties:
                hidden:
                  type: boolean
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: A successful response. The reply has been hidden or unhidden.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      summary: Hides or unhides a reply to an owned conversation.
      tags:
      - Tweets
  /2/tweets/search/recent:
    get:
      description: Returns Tweets from the last 7 days that match a search query.
      operationId: tweetsRecentSearch
      parameters:
      - description: One query/rule/filter for matching Tweets. Up to 512 characters.
        explode: true
        in: query
        name: query
        required: true
        schema:
          maxLength: 512
          minLength: 1
          type: string
        style: form
      - description: YYYY-MM-DDTHH:mm:ssZ. The oldest UTC timestamp (from most recent
          7 days) from which the Tweets will be provided. Timestamp is in second granularity
          and is inclusive (i.e. 12:00:01 includes the first second of the minute).
        explode: true
        in: query
        name: start_time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: YYYY-MM-DDTHH:mm:ssZ. The newest, most recent UTC timestamp to
          which the Tweets will be provided. Timestamp is in second granularity and
          is exclusive (i.e. 12:00:01 excludes the first second of the minute).
        explode: true
        in: query
        name: end_time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Returns results with a Tweet ID greater than (that is, more recent
          than) the specified ID.
        explode: true
        in: query
        name: since_id
        required: false
        schema:
          $ref: '#/components/schemas/TweetID'
        style: form
      - description: Returns results with a Tweet ID less than (that is, older than)
          the specified ID.
        explode: true
        in: query
        name: until_id
        required: false
        schema:
          $ref: '#/components/schemas/TweetID'
        style: form
      - description: The maximum number of search results to be returned by a request.
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 10
          type: integer
        style: form
      - description: This parameter is used to get the next 'page' of results. The
          value used with the parameter is pulled directly from the response provided
          by the API, and should not be modified.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: The list of fields you can expand for a [Tweet](#Tweet) object.
            If the field has an ID, it can be expanded into a full object.
          example: author_id
          items:
            enum:
            - author_id
            - referenced_tweets.id
            - in_reply_to_user_id
            - geo.place_id
            - attachments.media_keys
            - attachments.poll_ids
            - entities.mentions.username
            - referenced_tweets.id.author_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The list of fields you can display for a [Tweet](#Tweet) object.
          example: created_at
          items:
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - conversation_control
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The list of fields you can display for a [User](#User) object.
          example: created_at
          items:
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Media fields to display.
        explode: false
        in: query
        name: media.fields
        required: false
        schema:
          description: The list of fields you can display for a Media object.
          example:
          - url
          items:
            enum:
            - media_key
            - duration_ms
            - height
            - preview_image_url
            - type
            - url
            - width
            - public_metrics
            - non_public_metrics
            - organic_metrics
            - promoted_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Place fields to display.
        explode: false
        in: query
        name: place.fields
        required: false
        schema:
          description: The list of fields you can display for a Place object.
          example: country_code
          items:
            enum:
            - id
            - name
            - country_code
            - place_type
            - full_name
            - country
            - contained_within
            - geo
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Poll fields to display.
        explode: false
        in: query
        name: poll.fields
        required: false
        schema:
          description: The list of fields you can display for a Poll object.
          example: end_datetime
          items:
            enum:
            - id
            - options
            - voting_status
            - end_datetime
            - duration_minutes
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TweetSearchResponse'
          description: Tweets recent search response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      summary: Returns Tweets from the last 7 days that match a search query.
      tags:
      - Search
      - Tweets
  /2/tweets/search/all:
    get:
      description: Returns Tweets that match a search query.
      operationId: tweetsFullarchiveSearch
      parameters:
      - description: One query/rule/filter for matching Tweets. Up to 1024 characters.
        explode: true
        in: query
        name: query
        required: true
        schema:
          maxLength: 1024
          minLength: 1
          type: string
        style: form
      - description: YYYY-MM-DDTHH:mm:ssZ. The oldest UTC timestamp from which the
          Tweets will be provided. Timestamp is in second granularity and is inclusive
          (i.e. 12:00:01 includes the first second of the minute).
        explode: true
        in: query
        name: start_time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: YYYY-MM-DDTHH:mm:ssZ. The newest, most recent UTC timestamp to
          which the Tweets will be provided. Timestamp is in second granularity and
          is exclusive (i.e. 12:00:01 excludes the first second of the minute).
        explode: true
        in: query
        name: end_time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Returns results with a Tweet ID greater than (that is, more recent
          than) the specified ID.
        explode: true
        in: query
        name: since_id
        required: false
        schema:
          $ref: '#/components/schemas/TweetID'
        style: form
      - description: Returns results with a Tweet ID less than (that is, older than)
          the specified ID.
        explode: true
        in: query
        name: until_id
        required: false
        schema:
          $ref: '#/components/schemas/TweetID'
        style: form
      - description: The maximum number of search results to be returned by a request.
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          default: 10
          format: int32
          maximum: 500
          minimum: 10
          type: integer
        style: form
      - description: This parameter is used to get the next 'page' of results. The
          value used with the parameter is pulled directly from the response provided
          by the API, and should not be modified.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: The list of fields you can expand for a [Tweet](#Tweet) object.
            If the field has an ID, it can be expanded into a full object.
          example: author_id
          items:
            enum:
            - author_id
            - referenced_tweets.id
            - in_reply_to_user_id
            - geo.place_id
            - attachments.media_keys
            - attachments.poll_ids
            - entities.mentions.username
            - referenced_tweets.id.author_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The list of fields you can display for a [Tweet](#Tweet) object.
          example: created_at
          items:
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - conversation_control
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The list of fields you can display for a [User](#User) object.
          example: created_at
          items:
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Media fields to display.
        explode: false
        in: query
        name: media.fields
        required: false
        schema:
          description: The list of fields you can display for a Media object.
          example:
          - url
          items:
            enum:
            - media_key
            - duration_ms
            - height
            - preview_image_url
            - type
            - url
            - width
            - public_metrics
            - non_public_metrics
            - organic_metrics
            - promoted_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Place fields to display.
        explode: false
        in: query
        name: place.fields
        required: false
        schema:
          description: The list of fields you can display for a Place object.
          example: country_code
          items:
            enum:
            - id
            - name
            - country_code
            - place_type
            - full_name
            - country
            - contained_within
            - geo
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Poll fields to display.
        explode: false
        in: query
        name: poll.fields
        required: false
        schema:
          description: The list of fields you can display for a Poll object.
          example: end_datetime
          items:
            enum:
            - id
            - options
            - voting_status
            - end_datetime
            - duration_minutes
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Tweets full archive search response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      summary: Returns Tweets that match a search query.
      tags:
      - Search
      - Tweets
  /2/tweets/search/stream:
    get:
      description: Streams tweets matching a user's active rule set.
      operationId: searchStream
      parameters:
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: The list of fields you can expand for a [Tweet](#Tweet) object.
            If the field has an ID, it can be expanded into a full object.
          example: author_id
          items:
            enum:
            - author_id
            - referenced_tweets.id
            - in_reply_to_user_id
            - geo.place_id
            - attachments.media_keys
            - attachments.poll_ids
            - entities.mentions.username
            - referenced_tweets.id.author_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The list of fields you can display for a [Tweet](#Tweet) object.
          example: created_at
          items:
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - conversation_control
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The list of fields you can display for a [User](#User) object.
          example: created_at
          items:
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Media fields to display.
        explode: false
        in: query
        name: media.fields
        required: false
        schema:
          description: The list of fields you can display for a Media object.
          example:
          - url
          items:
            enum:
            - media_key
            - duration_ms
            - height
            - preview_image_url
            - type
            - url
            - width
            - public_metrics
            - non_public_metrics
            - organic_metrics
            - promoted_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Place fields to display.
        explode: false
        in: query
        name: place.fields
        required: false
        schema:
          description: The list of fields you can display for a Place object.
          example: country_code
          items:
            enum:
            - id
            - name
            - country_code
            - place_type
            - full_name
            - country
            - contained_within
            - geo
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Poll fields to display.
        explode: false
        in: query
        name: poll.fields
        required: false
        schema:
          description: The list of fields you can display for a Poll object.
          example: end_datetime
          items:
            enum:
            - id
            - options
            - voting_status
            - end_datetime
            - duration_minutes
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilteredStreamingTweet'
          description: The request was successful. Successful responses will return
            a stream of individual JSON Tweet payloads.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      summary: Streams tweets matching a user's active rule set.
      tags:
      - Tweets
  /2/tweets/search/stream/rules:
    get:
      description: Returns rules from a user's active rule set. Users can fetch all
        of their rules or a subset, specified by the provided rule ids.
      operationId: getRules
      parameters:
      - description: A comma-separated list of Rule IDs.
        explode: true
        in: query
        name: ids
        required: false
        schema:
          items:
            $ref: '#/components/schemas/RuleId'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      summary: Returns rules from a user's active rule set.
      tags:
      - Rules
      - Tweets
    post:
      description: Add or delete rules from a user's active rule set. Users can provide
        unique, optionally tagged rules to add. Users can delete their entire rule
        set or a subset specified by rule ids or values.
      operationId: addOrDeleteRules
      parameters:
      - description: Dry Run can be used with both the add and delete action, with
          the expected result given, but without actually taking any action in the
          system (meaning the end state will always be as it was when the request
          was submitted). This is particularly useful to validate rule changes.
        explode: true
        in: query
        name: dry_run
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOrDeleteRulesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOrDeleteRulesResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      summary: Add or delete rules from a user's active rule set.
      tags:
      - Rules
      - Tweets
  /2/tweets/sample/stream:
    get:
      description: Streams a deterministic 1% of public tweets.
      operationId: sampleStream
      parameters:
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: The list of fields you can expand for a [Tweet](#Tweet) object.
            If the field has an ID, it can be expanded into a full object.
          example: author_id
          items:
            enum:
            - author_id
            - referenced_tweets.id
            - in_reply_to_user_id
            - geo.place_id
            - attachments.media_keys
            - attachments.poll_ids
            - entities.mentions.username
            - referenced_tweets.id.author_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The list of fields you can display for a [Tweet](#Tweet) object.
          example: created_at
          items:
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - conversation_control
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The list of fields you can display for a [User](#User) object.
          example: created_at
          items:
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Media fields to display.
        explode: false
        in: query
        name: media.fields
        required: false
        schema:
          description: The list of fields you can display for a Media object.
          example:
          - url
          items:
            enum:
            - media_key
            - duration_ms
            - height
            - preview_image_url
            - type
            - url
            - width
            - public_metrics
            - non_public_metrics
            - organic_metrics
            - promoted_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Place fields to display.
        explode: false
        in: query
        name: place.fields
        required: false
        schema:
          description: The list of fields you can display for a Place object.
          example: country_code
          items:
            enum:
            - id
            - name
            - country_code
            - place_type
            - full_name
            - country
            - contained_within
            - geo
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Poll fields to display.
        explode: false
        in: query
        name: poll.fields
        required: false
        schema:
          description: The list of fields you can display for a Poll object.
          example: end_datetime
          items:
            enum:
            - id
            - options
            - voting_status
            - end_datetime
            - duration_minutes
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingTweet'
          description: The request was successful. Successful responses will return
            a stream of individual JSON Tweet payloads.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      summary: Streams a deterministic 1% of public tweets.
      tags:
      - Tweets
  /2/openapi.json:
    get:
      description: Full open api spec in JSON format. (See https://github.com/OAI/OpenAPI-Specification/blob/master/README.md)
      operationId: getOpenApiSpec
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: The request was successful
      summary: Returns the open api spec document.
      tags:
      - General
components:
  parameters:
    TweetExpansionsParameter:
      description: A comma separated list of fields to expand.
      explode: false
      in: query
      name: expansions
      required: false
      schema:
        description: The list of fields you can expand for a [Tweet](#Tweet) object.
          If the field has an ID, it can be expanded into a full object.
        example: author_id
        items:
          enum:
          - author_id
          - referenced_tweets.id
          - in_reply_to_user_id
          - geo.place_id
          - attachments.media_keys
          - attachments.poll_ids
          - entities.mentions.username
          - referenced_tweets.id.author_id
          type: string
        minItems: 1
        type: array
        uniqueItems: true
      style: form
    UserExpansionsParameter:
      description: A comma separated list of fields to expand.
      explode: false
      in: query
      name: expansions
      required: false
      schema:
        description: The list of fields you can expand for a [User](#User) object.
          If the field has an ID, it can be expanded into a full object.
        example: pinned_tweet_id
        items:
          enum:
          - pinned_tweet_id
          type: string
        minItems: 1
        type: array
        uniqueItems: true
      style: form
    TweetFieldsParameter:
      description: A comma separated list of Tweet fields to display.
      explode: false
      in: query
      name: tweet.fields
      required: false
      schema:
        description: The list of fields you can display for a [Tweet](#Tweet) object.
        example: created_at
        items:
          enum:
          - id
          - created_at
          - text
          - author_id
          - in_reply_to_user_id
          - referenced_tweets
          - attachments
          - withheld
          - geo
          - entities
          - public_metrics
          - possibly_sensitive
          - source
          - lang
          - context_annotations
          - non_public_metrics
          - promoted_metrics
          - organic_metrics
          - conversation_id
          - conversation_control
          type: string
        minItems: 1
        type: array
        uniqueItems: true
      style: form
    UserFieldsParameter:
      description: A comma separated list of User fields to display.
      explode: false
      in: query
      name: user.fields
      required: false
      schema:
        description: The list of fields you can display for a [User](#User) object.
        example: created_at
        items:
          enum:
          - id
          - created_at
          - name
          - username
          - protected
          - verified
          - withheld
          - profile_image_url
          - location
          - url
          - description
          - entities
          - pinned_tweet_id
          - public_metrics
          type: string
        minItems: 1
        type: array
        uniqueItems: true
      style: form
    MediaFieldsParameter:
      description: A comma separated list of Media fields to display.
      explode: false
      in: query
      name: media.fields
      required: false
      schema:
        description: The list of fields you can display for a Media object.
        example:
        - url
        items:
          enum:
          - media_key
          - duration_ms
          - height
          - preview_image_url
          - type
          - url
          - width
          - public_metrics
          - non_public_metrics
          - organic_metrics
          - promoted_metrics
          type: string
        minItems: 1
        type: array
        uniqueItems: true
      style: form
    PlaceFieldsParameter:
      description: A comma separated list of Place fields to display.
      explode: false
      in: query
      name: place.fields
      required: false
      schema:
        description: The list of fields you can display for a Place object.
        example: country_code
        items:
          enum:
          - id
          - name
          - country_code
          - place_type
          - full_name
          - country
          - contained_within
          - geo
          type: string
        minItems: 1
        type: array
        uniqueItems: true
      style: form
    PollFieldsParameter:
      description: A comma separated list of Poll fields to display.
      explode: false
      in: query
      name: poll.fields
      required: false
      schema:
        description: The list of fields you can display for a Poll object.
        example: end_datetime
        items:
          enum:
          - id
          - options
          - voting_status
          - end_datetime
          - duration_minutes
          type: string
        minItems: 1
        type: array
        uniqueItems: true
      style: form
    SinceIdRequestParameter:
      description: The minimum Tweet ID to be included in the result set. This parameter
        takes precedence over start_time if both are specified.
      explode: true
      in: query
      name: since_id
      required: false
      schema:
        $ref: '#/components/schemas/TweetID'
      style: form
    UntilIdRequestParameter:
      description: The maximum Tweet ID to be included in the result set. This parameter
        takes precedence over end_time if both are specified.
      explode: true
      in: query
      name: until_id
      required: false
      schema:
        $ref: '#/components/schemas/TweetID'
      style: form
    PaginationTokenRequestParameter:
      description: This parameter is used to get the next 'page' of results.
      explode: true
      in: query
      name: pagination_token
      required: false
      schema:
        pattern: '[a-zA-Z0-9]+'
        type: string
      style: form
    MaxResultsRequestParameter:
      description: The maximum number of results
      explode: true
      in: query
      name: max_results
      required: false
      schema:
        format: int32
        maximum: 100
        minimum: 5
        type: integer
      style: form
    StartTimeRequestParameter:
      description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp from which the
        mentions will be provided. The since_id parameter takes precedence if it is
        also specified.
      explode: true
      in: query
      name: start_time
      required: false
      schema:
        format: date-time
        type: string
      style: form
    EndTimeRequestParameter:
      description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Tweets
        will be provided. The until_id parameter takes precedence if it is also specified.
      explode: true
      in: query
      name: end_time
      required: false
      schema:
        format: date-time
        type: string
      style: form
    TweetTypeExcludesRequestParameter:
      description: The set of entities to exclude (e.g. 'replies' or 'retweets')
      explode: true
      in: query
      name: exclude
      required: false
      schema:
        items:
          enum:
          - replies
          - retweets
          type: string
        type: array
      style: form
  requestBodies:
    inline_object:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object'
  responses:
    HttpErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: The request has failed.
  schemas:
    MediaHeight:
      description: The height of the media in pixels
      minimum: 0
      type: integer
    MediaWidth:
      description: The width of the media in pixels
      minimum: 0
      type: integer
    HTTPStatusCode:
      description: HTTP Status Code.
      maximum: 599
      minimum: 100
      type: integer
    ContextAnnotation:
      description: Annotation inferred from the tweet text.
      properties:
        domain:
          $ref: '#/components/schemas/ContextAnnotationDomainFields'
        entity:
          $ref: '#/components/schemas/ContextAnnotationEntityFields'
      required:
      - domain
      - entity
      type: object
    ContextAnnotationDomainFields:
      description: Represents the data for the context annotation domain.
      properties:
        id:
          description: The unique id for a context annotation domain.
          pattern: ^[0-9]{1,19}$
          type: string
        name:
          description: Name of the context annotation domain.
          type: string
        description:
          description: Description of the context annotation domain.
          type: string
      required:
      - id
      type: object
    ContextAnnotationEntityFields:
      description: Represents the data for the context annotation entity.
      properties:
        id:
          description: The unique id for a context annotation entity.
          pattern: ^[0-9]{1,19}$
          type: string
        name:
          description: Name of the context annotation entity.
          type: string
        description:
          description: Description of the context annotation entity.
          type: string
      required:
      - id
      type: object
    URL:
      description: A validly formatted URL.
      example: https://example.com
      format: uri
      type: string
    EntityIndices:
      description: Represent a boundary range (start and end index) for a recognized
        entity (for example a hashtag or a mention). `start` must be smaller than
        `end`.
      properties:
        start:
          description: Index (zero-based) at which position this entity starts.
          minimum: 0
          type: integer
        end:
          description: Index (zero-based) at which position this entity ends.
          minimum: 0
          type: integer
      required:
      - end
      - start
      type: object
    URLFields:
      description: Represent the portion of text recognized as a URL.
      properties:
        url:
          description: A validly formatted URL.
          example: https://example.com
          format: uri
          type: string
        expanded_url:
          description: A validly formatted URL.
          example: https://example.com
          format: uri
          type: string
        display_url:
          description: The URL as displayed in the Twitter client.
          type: string
        unwound_url:
          description: Fully resolved url
          format: uri
          type: string
        status:
          description: HTTP Status Code.
          maximum: 599
          minimum: 100
          type: integer
        title:
          description: Title of the page the URL points to.
          type: string
        description:
          description: Description of the URL landing page.
          type: string
        images:
          items:
            $ref: '#/components/schemas/URLImage'
          minItems: 1
          type: array
      required:
      - url
      type: object
    UrlEntity:
      allOf:
      - $ref: '#/components/schemas/EntityIndices'
      - $ref: '#/components/schemas/URLFields'
      description: Represent the portion of text recognized as a URL, and its start
        and end position within the text.
    URLImage:
      description: Represent the information for the URL image
      properties:
        url:
          description: A validly formatted URL.
          example: https://example.com
          format: uri
          type: string
        height:
          description: The height of the media in pixels
          minimum: 0
          type: integer
        width:
          description: The width of the media in pixels
          minimum: 0
          type: integer
      type: object
    HashtagFields:
      description: Represent the portion of text recognized as a Hashtag, and its
        start and end position within the text.
      properties:
        tag:
          description: The text of the Hashtag
          type: string
      required:
      - tag
      type: object
    HashtagEntity:
      allOf:
      - $ref: '#/components/schemas/EntityIndices'
      - $ref: '#/components/schemas/HashtagFields'
    CashtagFields:
      description: Represent the portion of text recognized as a Cashtag, and its
        start and end position within the text.
      properties:
        tag:
          type: string
      required:
      - tag
      type: object
    CashtagEntity:
      allOf:
      - $ref: '#/components/schemas/EntityIndices'
      - $ref: '#/components/schemas/CashtagFields'
    MentionFields:
      description: Represent the portion of text recognized as a User mention, and
        its start and end position within the text.
      properties:
        username:
          description: The Twitter handle (screen name) of this user.
          pattern: ^[A-Za-z0-9_]{1,15}$
          type: string
      required:
      - username
      type: object
    MentionEntity:
      allOf:
      - $ref: '#/components/schemas/EntityIndices'
      - $ref: '#/components/schemas/MentionFields'
    FullTextEntities:
      properties:
        urls:
          items:
            $ref: '#/components/schemas/UrlEntity'
          minItems: 1
          type: array
        hashtags:
          items:
            $ref: '#/components/schemas/HashtagEntity'
          minItems: 1
          type: array
        mentions:
          items:
            $ref: '#/components/schemas/MentionEntity'
          minItems: 1
          type: array
        cashtags:
          items:
            $ref: '#/components/schemas/CashtagEntity'
          minItems: 1
          type: array
      type: object
    TweetID:
      description: Unique identifier of this Tweet. This is returned as a string in
        order to avoid complications with languages and tools that cannot handle large
        integers.
      example: "120897978112909812"
      pattern: ^[0-9]{1,19}$
      type: string
    UserID:
      description: Unique identifier of this User. This is returned as a string in
        order to avoid complications with languages and tools that cannot handle large
        integers.
      example: "712089797812"
      pattern: ^[0-9]{1,19}$
      type: string
    Error:
      properties:
        code:
          format: int32
          type: integer
        message:
          type: string
      required:
      - code
      - message
    Expansions:
      example:
        places:
        - geo:
            bbox:
            - -151.1701851434036
            - -151.1701851434036
            - -151.1701851434036
            - -151.1701851434036
            geometry:
              coordinates:
              - 6.027456183070403
              - 6.027456183070403
              type: Point
            type: Feature
            properties: '{}'
          country_code: country_code
          country: country
          contained_within:
          - null
          - null
          full_name: full_name
          name: name
          id: id
        - geo:
            bbox:
            - -151.1701851434036
            - -151.1701851434036
            - -151.1701851434036
            - -151.1701851434036
            geometry:
              coordinates:
              - 6.027456183070403
              - 6.027456183070403
              type: Point
            type: Feature
            properties: '{}'
          country_code: country_code
          country: country
          contained_within:
          - null
          - null
          full_name: full_name
          name: name
          id: id
        polls:
        - voting_status: open
          duration_minutes: 5
          end_datetime: 2000-01-23T04:56:07.000+00:00
          options:
          - votes: 5
            position: 1
            label: label
          - votes: 5
            position: 1
            label: label
          - votes: 5
            position: 1
            label: label
          - votes: 5
            position: 1
            label: label
          id: id
        - voting_status: open
          duration_minutes: 5
          end_datetime: 2000-01-23T04:56:07.000+00:00
          options:
          - votes: 5
            position: 1
            label: label
          - votes: 5
            position: 1
            label: label
          - votes: 5
            position: 1
            label: label
          - votes: 5
            position: 1
            label: label
          id: id
        media:
        - type: type
        - type: type
        tweets:
        - id: "12234"
          created_at: Wed Jun 20 16:53:49 +0000 2018
          text: Some great insight into the human condition.
          author_id: "712089797812"
        - id: "12234"
          created_at: Wed Jun 20 16:53:49 +0000 2018
          text: Some great insight into the human condition.
          author_id: "712089797812"
        users:
        - id: "1234"
          created_at: 2017-10-09T17:16:24Z
          name: Twitter API
          username: twitterapi
          protected: false
        - id: "1234"
          created_at: 2017-10-09T17:16:24Z
          name: Twitter API
          username: twitterapi
          protected: false
      properties:
        users:
          items:
            $ref: '#/components/schemas/User'
          minItems: 1
          type: array
        tweets:
          items:
            $ref: '#/components/schemas/Tweet'
          minItems: 1
          type: array
        places:
          items:
            $ref: '#/components/schemas/Place'
          minItems: 1
          type: array
        media:
          items:
            $ref: '#/components/schemas/Media'
          minItems: 1
          type: array
        polls:
          items:
            $ref: '#/components/schemas/Poll'
          minItems: 1
          type: array
      type: object
    Tweet:
      example:
        id: "12234"
        created_at: Wed Jun 20 16:53:49 +0000 2018
        text: Some great insight into the human condition.
        author_id: "712089797812"
      properties:
        id:
          description: Unique identifier of this Tweet. This is returned as a string
            in order to avoid complications with languages and tools that cannot handle
            large integers.
          example: "120897978112909812"
          pattern: ^[0-9]{1,19}$
          type: string
        created_at:
          description: Creation time of the Tweet.
          format: date-time
          type: string
        text:
          description: The content of the Tweet.
          type: string
        author_id:
          description: Unique identifier of this User. This is returned as a string
            in order to avoid complications with languages and tools that cannot handle
            large integers.
          example: "712089797812"
          pattern: ^[0-9]{1,19}$
          type: string
        in_reply_to_user_id:
          description: Unique identifier of this User. This is returned as a string
            in order to avoid complications with languages and tools that cannot handle
            large integers.
          example: "712089797812"
          pattern: ^[0-9]{1,19}$
          type: string
        conversation_id:
          description: Unique identifier of this Tweet. This is returned as a string
            in order to avoid complications with languages and tools that cannot handle
            large integers.
          example: "120897978112909812"
          pattern: ^[0-9]{1,19}$
          type: string
        conversation_control:
          $ref: '#/components/schemas/ConversationControl'
        referenced_tweets:
          description: A list of Tweets this Tweet refers to. For example, if the
            parent Tweet is a Retweet, a Quoted Tweet or a Reply, it will include
            the related Tweet referenced to by its parent.
          items:
            $ref: '#/components/schemas/Tweet_referenced_tweets'
          minItems: 1
          type: array
        attachments:
          $ref: '#/components/schemas/Tweet_attachments'
        context_annotations:
          items:
            $ref: '#/components/schemas/ContextAnnotation'
          minItems: 1
          type: array
        withheld:
          $ref: '#/components/schemas/TweetWithheld'
        geo:
          $ref: '#/components/schemas/Tweet_geo'
        entities:
          $ref: '#/components/schemas/FullTextEntities'
        public_metrics:
          $ref: '#/components/schemas/Tweet_public_metrics'
        possibly_sensitive:
          description: Indicates if this Tweet contains URLs marked as sensitive,
            for example content suitable for mature audiences.
          type: boolean
        lang:
          description: Language of the Tweet, if detected by Twitter. Returned as
            a BCP47 language tag.
          type: string
        source:
          description: The name of the app the user Tweeted from.
          type: string
        non_public_metrics:
          $ref: '#/components/schemas/Tweet_non_public_metrics'
        promoted_metrics:
          $ref: '#/components/schemas/Tweet_promoted_metrics'
        organic_metrics:
          $ref: '#/components/schemas/Tweet_organic_metrics'
      required:
      - id
      - text
      type: object
    User:
      description: The Twitter User object
      example:
        id: "1234"
        created_at: 2017-10-09T17:16:24Z
        name: Twitter API
        username: twitterapi
        protected: false
      properties:
        id:
          description: Unique identifier of this User. This is returned as a string
            in order to avoid complications with languages and tools that cannot handle
            large integers.
          example: "712089797812"
          pattern: ^[0-9]{1,19}$
          type: string
        created_at:
          description: Creation time of this user.
          format: date-time
          type: string
        name:
          description: The friendly name of this user, as shown on their profile.
          type: string
        username:
          description: The Twitter handle (screen name) of this user.
          pattern: ^[A-Za-z0-9_]{1,15}$
          type: string
        protected:
          description: Indicates if this user has chosen to protect their Tweets (in
            other words, if this user's Tweets are private).
          type: boolean
        verified:
          description: Indicate if this user is a verified Twitter User.
          type: boolean
        withheld:
          $ref: '#/components/schemas/UserWithheld'
        profile_image_url:
          description: The URL to the profile image for this user.
          format: uri
          type: string
        location:
          description: The location specified in the user's profile, if the user provided
            one. As this is a freeform value, it may not indicate a valid location,
            but it may be fuzzily evaluated when performing searches with location
            queries.
          type: string
        url:
          description: The URL specified in the user's profile.
          type: string
        description:
          description: The text of this user's profile description (also known as
            bio), if the user provided one.
          type: string
        entities:
          $ref: '#/components/schemas/User_entities'
        pinned_tweet_id:
          description: Unique identifier of this Tweet. This is returned as a string
            in order to avoid complications with languages and tools that cannot handle
            large integers.
          example: "120897978112909812"
          pattern: ^[0-9]{1,19}$
          type: string
        public_metrics:
          $ref: '#/components/schemas/User_public_metrics'
      required:
      - id
      - name
      - username
    UserName:
      description: The Twitter handle (screen name) of this user.
      pattern: ^[A-Za-z0-9_]{1,15}$
      type: string
    UserLookupResponse:
      example:
        data:
        - id: "1234"
          created_at: 2017-10-09T17:16:24Z
          name: Twitter API
          username: twitterapi
          protected: false
        - id: "1234"
          created_at: 2017-10-09T17:16:24Z
          name: Twitter API
          username: twitterapi
          protected: false
        includes:
          places:
          - geo:
              bbox:
              - -151.1701851434036
              - -151.1701851434036
              - -151.1701851434036
              - -151.1701851434036
              geometry:
                coordinates:
                - 6.027456183070403
                - 6.027456183070403
                type: Point
              type: Feature
              properties: '{}'
            country_code: country_code
            country: country
            contained_within:
            - null
            - null
            full_name: full_name
            name: name
            id: id
          - geo:
              bbox:
              - -151.1701851434036
              - -151.1701851434036
              - -151.1701851434036
              - -151.1701851434036
              geometry:
                coordinates:
                - 6.027456183070403
                - 6.027456183070403
                type: Point
              type: Feature
              properties: '{}'
            country_code: country_code
            country: country
            contained_within:
            - null
            - null
            full_name: full_name
            name: name
            id: id
          polls:
          - voting_status: open
            duration_minutes: 5
            end_datetime: 2000-01-23T04:56:07.000+00:00
            options:
            - votes: 5
              position: 1
              label: label
            - votes: 5
              position: 1
              label: label
            - votes: 5
              position: 1
              label: label
            - votes: 5
              position: 1
              label: label
            id: id
          - voting_status: open
            duration_minutes: 5
            end_datetime: 2000-01-23T04:56:07.000+00:00
            options:
            - votes: 5
              position: 1
              label: label
            - votes: 5
              position: 1
              label: label
            - votes: 5
              position: 1
              label: label
            - votes: 5
              position: 1
              label: label
            id: id
          media:
          - type: type
          - type: type
          tweets:
          - id: "12234"
            created_at: Wed Jun 20 16:53:49 +0000 2018
            text: Some great insight into the human condition.
            author_id: "712089797812"
          - id: "12234"
            created_at: Wed Jun 20 16:53:49 +0000 2018
            text: Some great insight into the human condition.
            author_id: "712089797812"
          users:
          - id: "1234"
            created_at: 2017-10-09T17:16:24Z
            name: Twitter API
            username: twitterapi
            protected: false
          - id: "1234"
            created_at: 2017-10-09T17:16:24Z
            name: Twitter API
            username: twitterapi
            protected: false
        errors:
        - type: type
        - type: type
      properties:
        data:
          items:
            $ref: '#/components/schemas/User'
          minItems: 1
          type: array
        includes:
          $ref: '#/components/schemas/Expansions'
        errors:
          items:
            $ref: '#/components/schemas/Problem'
          minItems: 1
          type: array
      type: object
    SingleUserLookupResponse:
      example:
        data:
          id: "1234"
          created_at: 2017-10-09T17:16:24Z
          name: Twitter API
          username: twitterapi
          protected: false
        includes:
          places:
          - geo:
              bbox:
              - -151.1701851434036
              - -151.1701851434036
              - -151.1701851434036
              - -151.1701851434036
              geometry:
                coordinates:
                - 6.027456183070403
                - 6.027456183070403
                type: Point
              type: Feature
              properties: '{}'
            country_code: country_code
            country: country
            contained_within:
            - null
            - null
            full_name: full_name
            name: name
            id: id
          - geo:
              bbox:
              - -151.1701851434036
              - -151.1701851434036
              - -151.1701851434036
              - -151.1701851434036
              geometry:
                coordinates:
                - 6.027456183070403
                - 6.027456183070403
                type: Point
              type: Feature
              properties: '{}'
            country_code: country_code
            country: country
            contained_within:
            - null
            - null
            full_name: full_name
            name: name
            id: id
          polls:
          - voting_status: open
            duration_minutes: 5
            end_datetime: 2000-01-23T04:56:07.000+00:00
            options:
            - votes: 5
              position: 1
              label: label
            - votes: 5
              position: 1
              label: label
            - votes: 5
              position: 1
              label: label
            - votes: 5
              position: 1
              label: label
            id: id
          - voting_status: open
            duration_minutes: 5
            end_datetime: 2000-01-23T04:56:07.000+00:00
            options:
            - votes: 5
              position: 1
              label: label
            - votes: 5
              position: 1
              label: label
            - votes: 5
              position: 1
              label: label
            - votes: 5
              position: 1
              label: label
            id: id
          media:
          - type: type
          - type: type
          tweets:
          - id: "12234"
            created_at: Wed Jun 20 16:53:49 +0000 2018
            text: Some great insight into the human condition.
            author_id: "712089797812"
          - id: "12234"
            created_at: Wed Jun 20 16:53:49 +0000 2018
            text: Some great insight into the human condition.
            author_id: "712089797812"
          users:
          - id: "1234"
            created_at: 2017-10-09T17:16:24Z
            name: Twitter API
            username: twitterapi
            protected: false
          - id: "1234"
            created_at: 2017-10-09T17:16:24Z
            name: Twitter API
            username: twitterapi
            protected: false
        errors:
        - type: type
        - type: type
      properties:
        data:
          $ref: '#/components/schemas/User'
        includes:
          $ref: '#/components/schemas/Expansions'
        errors:
          items:
            $ref: '#/components/schemas/Problem'
          minItems: 1
          type: array
      type: object
    TweetLookupResponse:
      example:
        data:
        - id: "12234"
          created_at: Wed Jun 20 16:53:49 +0000 2018
          text: Some great insight into the human condition.
          author_id: "712089797812"
        - id: "12234"
          created_at: Wed Jun 20 16:53:49 +0000 2018
          text: Some great insight into the human condition.
          author_id: "712089797812"
        meta:
          oldest_id: oldest_id
          previous_token: previous_token
          next_token: next_token
          newest_id: newest_id
          result_count: 0
        includes:
          places:
          - geo:
              bbox:
              - -151.1701851434036
              - -151.1701851434036
              - -151.1701851434036
              - -151.1701851434036
              geometry:
                coordinates:
                - 6.027456183070403
                - 6.027456183070403
                type: Point
              type: Feature
              properties: '{}'
            country_code: country_code
            country: country
            contained_within:
            - null
            - null
            full_name: full_name
            name: name
            id: id
          - geo:
              bbox:
              - -151.1701851434036
              - -151.1701851434036
              - -151.1701851434036
              - -151.1701851434036
              geometry:
                coordinates:
                - 6.027456183070403
                - 6.027456183070403
                type: Point
              type: Feature
              properties: '{}'
            country_code: country_code
            country: country
            contained_within:
            - null
            - null
            full_name: full_name
            name: name
            id: id
          polls:
          - voting_status: open
            duration_minutes: 5
            end_datetime: 2000-01-23T04:56:07.000+00:00
            options:
            - votes: 5
              position: 1
              label: label
            - votes: 5
              position: 1
              label: label
            - votes: 5
              position: 1
              label: label
            - votes: 5
              position: 1
              label: label
            id: id
          - voting_status: open
            duration_minutes: 5
            end_datetime: 2000-01-23T04:56:07.000+00:00
            options:
            - votes: 5
              position: 1
              label: label
            - votes: 5
              position: 1
              label: label
            - votes: 5
              position: 1
              label: label
            - votes: 5
              position: 1
              label: label
            id: id
          media:
          - type: type
          - type: type
          tweets:
          - id: "12234"
            created_at: Wed Jun 20 16:53:49 +0000 2018
            text: Some great insight into the human condition.
            author_id: "712089797812"
          - id: "12234"
            created_at: Wed Jun 20 16:53:49 +0000 2018
            text: Some great insight into the human condition.
            author_id: "712089797812"
          users:
          - id: "1234"
            created_at: 2017-10-09T17:16:24Z
            name: Twitter API
            username: twitterapi
            protected: false
          - id: "1234"
            created_at: 2017-10-09T17:16:24Z
            name: Twitter API
            username: twitterapi
            protected: false
        errors:
        - type: type
        - type: type
      properties:
        data:
          items:
            $ref: '#/components/schemas/Tweet'
          minItems: 1
          type: array
        includes:
          $ref: '#/components/schemas/Expansions'
        errors:
          items:
            $ref: '#/components/schemas/Problem'
          minItems: 1
          type: array
        meta:
          $ref: '#/components/schemas/TweetLookupResponse_meta'
      type: object
    SingleTweetLookupResponse:
      example:
        data:
          id: "12234"
          created_at: Wed Jun 20 16:53:49 +0000 2018
          text: Some great insight into the human condition.
          author_id: "712089797812"
        includes:
          places:
          - geo:
              bbox:
              - -151.1701851434036
              - -151.1701851434036
              - -151.1701851434036
              - -151.1701851434036
              geometry:
                coordinates:
                - 6.027456183070403
                - 6.027456183070403
                type: Point
              type: Feature
              properties: '{}'
            country_code: country_code
            country: country
            contained_within:
            - null
            - null
            full_name: full_name
            name: name
            id: id
          - geo:
              bbox:
              - -151.1701851434036
              - -151.1701851434036
              - -151.1701851434036
              - -151.1701851434036
              geometry:
                coordinates:
                - 6.027456183070403
                - 6.027456183070403
                type: Point
              type: Feature
              properties: '{}'
            country_code: country_code
            country: country
            contained_within:
            - null
            - null
            full_name: full_name
            name: name
            id: id
          polls:
          - voting_status: open
            duration_minutes: 5
            end_datetime: 2000-01-23T04:56:07.000+00:00
            options:
            - votes: 5
              position: 1
              label: label
            - votes: 5
              position: 1
              label: label
            - votes: 5
              position: 1
              label: label
            - votes: 5
              position: 1
              label: label
            id: id
          - voting_status: open
            duration_minutes: 5
            end_datetime: 2000-01-23T04:56:07.000+00:00
            options:
            - votes: 5
              position: 1
              label: label
            - votes: 5
              position: 1
              label: label
            - votes: 5
              position: 1
              label: label
            - votes: 5
              position: 1
              label: label
            id: id
          media:
          - type: type
          - type: type
          tweets:
          - id: "12234"
            created_at: Wed Jun 20 16:53:49 +0000 2018
            text: Some great insight into the human condition.
            author_id: "712089797812"
          - id: "12234"
            created_at: Wed Jun 20 16:53:49 +0000 2018
            text: Some great insight into the human condition.
            author_id: "712089797812"
          users:
          - id: "1234"
            created_at: 2017-10-09T17:16:24Z
            name: Twitter API
            username: twitterapi
            protected: false
          - id: "1234"
            created_at: 2017-10-09T17:16:24Z
            name: Twitter API
            username: twitterapi
            protected: false
        errors:
        - type: type
        - type: type
      properties:
        data:
          $ref: '#/components/schemas/Tweet'
        includes:
          $ref: '#/components/schemas/Expansions'
        errors:
          items:
            $ref: '#/components/schemas/Problem'
          minItems: 1
          type: array
      type: object
    Point:
      description: A [GeoJson Point](https://tools.ietf.org/html/rfc7946#section-3.1.2)
        geometry object.
      example:
        coordinates:
        - 6.027456183070403
        - 6.027456183070403
        type: Point
      properties:
        type:
          enum:
          - Point
          type: string
        coordinates:
          description: A [GeoJson Position](https://tools.ietf.org/html/rfc7946#section-3.1.1)
            in the format `[longitude,latitude]`.
          items:
            type: number
          maxItems: 2
          minItems: 2
          type: array
      required:
      - coordinates
      - type
      type: object
    Position:
      description: A [GeoJson Position](https://tools.ietf.org/html/rfc7946#section-3.1.1)
        in the format `[longitude,latitude]`.
      items:
        type: number
      maxItems: 2
      minItems: 2
      type: array
    Geo:
      example:
        bbox:
        - -151.1701851434036
        - -151.1701851434036
        - -151.1701851434036
        - -151.1701851434036
        geometry:
          coordinates:
          - 6.027456183070403
          - 6.027456183070403
          type: Point
        type: Feature
        properties: '{}'
      properties:
        type:
          enum:
          - Feature
          type: string
        bbox:
          items:
            format: double
            maximum: 180
            minimum: -180
            type: number
          maxItems: 4
          minItems: 4
          type: array
        geometry:
          $ref: '#/components/schemas/Point'
        properties:
          type: object
      required:
      - bbox
      - properties
      - type
      type: object
    PlaceId:
      description: The identifier for this place
      type: string
    Place:
      example:
        geo:
          bbox:
          - -151.1701851434036
          - -151.1701851434036
          - -151.1701851434036
          - -151.1701851434036
          geometry:
            coordinates:
            - 6.027456183070403
            - 6.027456183070403
            type: Point
          type: Feature
          properties: '{}'
        country_code: country_code
        country: country
        contained_within:
        - null
        - null
        full_name: full_name
        name: name
        id: id
      properties:
        id:
          description: The identifier for this place
          type: string
        name:
          description: The human readable name of this place.
          type: string
        country_code:
          pattern: ^[A-Z]{2}$
          type: string
        place_type:
          $ref: '#/components/schemas/PlaceType'
        full_name:
          type: string
        country:
          type: string
        contained_within:
          items:
            $ref: '#/components/schemas/PlaceId'
          minItems: 1
          type: array
        geo:
          $ref: '#/components/schemas/Geo'
      required:
      - full_name
      - id
    PlaceType:
      enum:
      - poi
      - neighborhood
      - city
      - admin
      - country
      - unknown
      type: string
    Poll:
      description: Represent a Poll attached to a Tweet
      example:
        voting_status: open
        duration_minutes: 5
        end_datetime: 2000-01-23T04:56:07.000+00:00
        options:
        - votes: 5
          position: 1
          label: label
        - votes: 5
          position: 1
          label: label
        - votes: 5
          position: 1
          label: label
        - votes: 5
          position: 1
          label: label
        id: id
      properties:
        id:
          description: Unique identifier of this poll.
          pattern: ^[0-9]{1,19}$
          type: string
        options:
          items:
            $ref: '#/components/schemas/PollOption'
          maxItems: 4
          minItems: 2
          type: array
        voting_status:
          enum:
          - open
          - closed
          type: string
        end_datetime:
          format: date-time
          type: string
        duration_minutes:
          type: integer
      required:
      - id
      - options
      type: object
    PollId:
      description: Unique identifier of this poll.
[...]
